.boardInit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-player-1);
  padding: 4rem;
  border-radius: 1rem;
  border: 2px dashed var(--color-player-2);
  &--title {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color-player-1);
  }
  &--container {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  &--button {
    all: unset;
    background-color: var(--color-player-2);
    color:#fff;
    padding: 1rem 2rem;
    font-weight: 400;
    border-radius: 0.5rem;
    &:hover {
      background-color: var(--color-player-1);
      color: var(--color-player-2);
    }
  }
}
