.info {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-auto-flow: row;
  gap: 2rem;
  place-items: center;
  &__scores {
    @media screen and (max-width: 480px) {
      margin-top: -2rem;
    }
  }
  &__users {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 10rem;
    font-size: 1.5rem;
    transition: all 0.7s;
    transform-origin: center;
    &--1 {
      display: grid;
      gap: 3rem;
      color: var(--color-player-1);
      place-items: center;
      & svg {
        fill: var(--color-player-1);
        width: 6rem;
        height: 6rem;
        padding: 1rem;
        background-color: var(--color-tertiary);
        border-radius: 50%;
        outline: 4px dashed var(--color-player-1);
        outline-offset: 1rem;
      }
      &.active {
        font-size: 2rem;
        font-weight: 400;
      }
      &.active svg {
        outline: 10px solid var(--color-player-1);
      }
    }

    &--2 {
      display: grid;
      gap: 3rem;
      color: var(--color-player-2);
      place-items: center;
      transition: all 0.7s;
      & svg {
        width: 6rem;
        height: 6rem;
        padding: 1rem;
        fill: var(--color-player-1);
        background-color: var(--color-tertiary);
        border-radius: 50%;
        outline: 4px dashed var(--color-player-2);
        outline-offset: 1rem;
      }
      &.active {
        font-size: 2rem;
        font-weight: bold;
      }
      &.active svg {
        outline: 10px solid var(--color-player-2);
      }
    }
  }

  &__status {
    h2 {
      text-transform: capitalize;
      color: var(--color-player-1);
      font-size: 2.5rem;
      font-weight: 300;
    }
    span {
      color: var(--color-player-2);
      font-weight: 400;
    }
  }
}
