.game__container {
  width: 50vw;
  height: 50vh;
  display: grid;
  grid-auto-flow: row;
  position: relative;
}

.game__squares {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(4, max-content);
}

.game__square {
  display: grid;
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: -1px;

  &--top {
    position: absolute;
    cursor: pointer;
    border: 1px dashed var(--color-tertiary);
    width: 75%;
    justify-self: center;
    height: 1%;
    top: 0;
  }
  &--bottom {
    position: absolute;
    cursor: pointer;
    border: 1px dashed var(--color-tertiary);
    width: 75%;
    height: 1%;
    justify-self: center;
    bottom: 0;
  }
  &--left {
    position: absolute;
    cursor: pointer;
    align-self: center;
    border: 1px dashed var(--color-tertiary);
    width: 1%;
    height: 75%;
    left: 0;
  }
  &--right {
    position: absolute;
    cursor: pointer;
    border: 1px dashed var(--color-tertiary);
    align-self: center;
    width: 1%;
    height: 75%;
    right: 0;
  }
}
