:root {
  --color-primary: #242424;
  --color-secondary: #8a97af;
  --color-tertiary: #ccc;
  --color-player-1: #2c2943;
  --color-player-2: #ff345f;
}

#root {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

/*Initial Reset*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: linear-gradient(
      45deg,
      transparent 14%,
      #f7f7f7 15%,
      #f7f7f7 20%,
      transparent 21%,
      transparent 79%,
      #f7f7f7 80%,
      #f7f7f7 85%,
      transparent 86%
    ),
    linear-gradient(
      135deg,
      transparent 14%,
      #f7f7f7 15%,
      #f7f7f7 20%,
      transparent 21%,
      transparent 79%,
      #f7f7f7 80%,
      #f7f7f7 85%,
      transparent 86%
    ),
    radial-gradient(transparent 14%, #f7f7f7 15%, #f7f7f7 25%, transparent 26%);
  background-size: 3em 3em;
  background-color: #fdfdfd;
  opacity: 1;
  padding: 5vh 5vw;
  width: 100vw;
  height: 100vh;
}
